{% extends 'en.html' %}

{% block title %} Freelancer - ESP{% endblock %}

{% block portfolio %}
    Portafolio
{% endblock %}

{% block about %}
    Sobre
{% endblock %}

{% block contact %}
    Contacto
{% endblock %}

{% block description %}
    Artista Gráfico - Diseñador Web - Ilustrador
{% endblock %}

{% block portfolio2 %}
    Portafolio
{% endblock %}

{% block about2 %}
    Sobre
{% endblock %}

{% block section %}
    Freelancer es un tema gratuito de Bootstrap creado por Start Bootstrap. La descarga incluye todos los archivos fuente completos, incluyendo HTML, CSS y JavaScript, así como hojas de estilo SASS opcionales para una fácil personalización.
{% endblock %}

{% block section2 %}
    ¡Puedes crear tu propio avatar personalizado para el encabezado, cambiar el ícono en los divisores y agregar tu dirección de correo electrónico al formulario de contacto para hacerlo completamente funcional!
{% endblock %}

{% block section3 %}
    Descarga gratis
{% endblock %}

{% block page_section %}
    Contáctame
{% endblock %}

{% block name %}
    Nombre completo
{% endblock %}

{% block name2 %}
    Se requiere un nombre.
{% endblock %}

{% block email %}
    Correo electrónico
{% endblock %}

{% block email2 %}
    Se requiere un correo electrónico.
{% endblock %}

{% block email3 %}
    El correo electrónico no es válido.
{% endblock %}

{% block number %}
    Número de teléfono
{% endblock %}

{% block number2 %}
    Se requiere un número de teléfono
{% endblock %}

{% block message %}
    Mensaje
{% endblock %}

{% block message2 %}
    Escribe tu mensaje
{% endblock %}

{% block language_pt %}
    Portugués
{% endblock %}

{% block language_esp %}
    Español
{% endblock %}