{% extends 'en.html' %}

{% block title %} Freelancer - PTBR {% endblock %}

{% block portfolio %}
    Portfólio
{% endblock %}

{% block about %}
    Sobre
{% endblock %}

{% block contact %}
    Contato
{% endblock %}

{% block description %}
    Artista Gráfico - Web Designer - Ilustrador
{% endblock %}

{% block portfolio2 %}
    Portfólio
{% endblock %}

{% block about2 %}
    Sobre
{% endblock %}

{% block section %}
    Freelancer é um tema gratuito do Bootstrap criado pela Start Bootstrap. O download inclui todos os arquivos-fonte completos, incluindo HTML, CSS e JavaScript, além de folhas de estilo SASS opcionais para fácil personalização.
{% endblock %}

{% block section2 %}
    Você pode criar seu próprio avatar personalizado para o cabeçalho, alterar o ícone nos divisores e adicionar seu endereço de e-mail ao formulário de contato para torná-lo totalmente funcional!
{% endblock %}

{% block section3 %}
    Download grátis
{% endblock %}

{% block page_section %}
    Me Contate
{% endblock %}

{% block name %}
    Nome completo
{% endblock %}

{% block name2 %}
    Um nome é requerido.
{% endblock %}

{% block email %}
    Email
{% endblock %}

{% block email2 %}
    Um email é requerido.
{% endblock %}

{% block email3 %}
    O email não é válido.
{% endblock %}

{% block number %}
    Número de telefone
{% endblock %}

{% block number2 %}
    Número de telefone é requerido
{% endblock %}

{% block message %}
    Mensagem
{% endblock %}

{% block message2 %}
    Escreva sua mensagem
{% endblock %}

{% block language_pt %}
    Português
{% endblock %}

{% block language_esp %}
    Espanhol
{% endblock %}